body {
    display: block;
    /* margin: 8px; */
}

div {
    display: block;
}

/* .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
} */



